{% load static %}
{% load permission_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Icon  -->
    <link rel="icon" href="{% static 'img/Edm_logo.ico' %}"
          type="image/x-icon">

    <!-- Project Link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

     <!-- Materialize css icons CDN Link -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    {% block css %}
    {% endblock css %}
  </head>


  <body>
   
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">DPRP DGIS</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="{% url 'Panel:panel_main' %}">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Painel</span>
          </a>
          <span class="tooltip">Painel</span>
        </li>

       
        {% if perms.Team.view_team %}
    
        <li>
          <a href="{% url 'Team:team_show' %}">
            <i class="bx bxs-group icon"></i>
            <span class="links_name">Equipe</span>
          </a>
          <span class="tooltip">Equipes</span>
        </li>

      {% endif %}
        
       
       
       {% if perms.Project.view_projecto %}
        
        <li>
          <a href="{% url 'Project:project_show' %}">
            <i class='bx bx-edit'></i>
            <span class="links_name">Projecto</span>
          </a>
          <span class="tooltip">Projectos</span>
        </li>

      {% endif %}
       


      
      {% if perms.Task.add_task %}
      <li>
        <a href="{% url 'Task:task_view' %}">
          <i class="bx bx-task icon"></i>
          <span class="links_name">Tarefas</span>
        </a>
        <span class="tooltip">Tarefa</span>
      </li>
        {% elif perms.Task.change_task %}

        <li>
          <a href="{% url 'Task:task_list' %}">
            <i class="bx bx-task icon"></i>
            <span class="links_name">Tarefas</span>
          </a>
          <span class="tooltip">Tarefa</span>
        </li>

        {% elif perms.Task.view_task %}

        <li>
          <a href="{% url 'Task:task_detail' %}">
            <i class="bx bx-task icon"></i>
            <span class="links_name">Tarefas</span>
          </a>
          <span class="tooltip">Tarefa</span>
        </li>

      {% endif %}
        

    
      
        <li>
          <a href="#">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Análise</span>
          </a>
          <span class="tooltip">Análise</span>
        </li>


        <li>
          <a href="#">
            <i class="bx bx-folder"></i>
            <span class="links_name">Gestão de Ficheiros</span>
          </a>
          <span class="tooltip">Gestão de Ficheiros</span>
        </li>
        
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">User</span>
          </a>
          <span class="tooltip">User</span>
        </li>
        
        <li class="disabled">
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Definições</span>
          </a>
          <span class="tooltip">Definições</span>
        </li>

  
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
                {% if request.user.is_authenticated %}
              <div class="name">
                {{ request.user.first_name }} {{ request.user.last_name }}
                {% else %}
                None
              {% endif %}
              </div>

              {% if request.user.is_authenticated %}
              <div class="job">

                {# Por adicionar para outros usuers #}
                {% if request.user.user_type == 'tecnico_campo'  or  request.user.user_type == 'supervisor_campo' or request.user.user_type == 'direccao_central'  %}
                   
                   {{ request.user.ASC }}
  
                {% endif %}

                {% else %}
                  None
              {% endif %}
            </div>

            </div>
            <a href="{% url 'Accounts:logout' %}">
              <i class="bx bx-log-out" id="log_out"></i>
             </a> 
          </div>
             
        </li>
      </ul>
    </div>
    
    <section class="home-section">
        
      <div class="navbar-fixed">
        <nav class="white">
          <div class="nav-wrapper ">
            <a href="#" class="brand-logo black-text left">
                <img src="{% static 'img/Edm_logo.ico' %}" alt="Logo" height="40px" width="40px" >
            </a>
              
            <!--<a href="#" class="brand-logo center black-text " style="font-size: 20px; font-weight:500;">Sistema de Gestão</a>-->
  
            <ul id="nav-mobile" class="center">
              <a href="#" class="black-text">
              Sistema de Gestão de Cadastramento 
              </a>
            </ul>
          </div>
        </nav>
      </div>
        
      
      
      <div class="main-content">
        <div class="title">
          <h5>
            {% block page_header %} 

            {% endblock page_header %}
            
          </h5>
        </div>
        {% block content_main %} 

        {% endblock content_main %}
      </div>


      {% block footer %} 

      {% endblock footer %}
      
    </section>

    

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
  {% block js_main %}
  
  {% endblock js_main %}

</body>
</html>
