{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block title %}
    Mapa Principal | Administração
{% endblock %}

{% block css %}
    {% leaflet_css %}
    {% leaflet_js %}
    <style>
        #map {
            width: 100%;
            height: 900px;
        }
        #controls { margin: 20px; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
{% endblock css %}

{% block page_header %} 
    Mapa
{% endblock page_header %}

{% block content_main %}
    {% leaflet_map "map" callback="window.map_init" %}
{% endblock content_main %}

{% block js_main %}
<script src="https://cdn.jsdelivr.net/npm/leaflet-wfst@2.0.1-beta.27/dist/leaflet-wfst.src.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script>
function map_init(map, options) {
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'OpenStreetMap'
    }).addTo(map);

    var satellite = L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    var baseLayers = {
        'OSM': osm,
        'Satellite': satellite,
    };

    var ASC = L.tileLayer.wms('http://localhost:8080/geoserver/wms', {
        layers: 'Monografia:ASC',  // Substitua pelo nome do seu workspace e da camada
        format: 'image/png',
        transparent: true,
        attribution: "ASC Kamavota"
    });

    // Adiciona controle de camadas base ao mapa
    //L.control.layers(baseLayers).addTo(map);

    var owsrootUrl = 'http://localhost:8080/geoserver/ows';
    var defaultParameters = {
        service: 'WFS',
        version: '1.0.0',
        request: 'GetFeature',
        typeName: 'Monografia:Postos',
        maxFeatures: 50,
        outputFormat: 'application/json',
    };
    var parameters = L.Util.extend(defaultParameters);
    var URL = owsrootUrl + L.Util.getParamString(parameters);

    $.ajax({
        url: URL,
        success: function (data) {
            console.log("Received GeoJSON data: ", data);

            if (data && data.type && data.type === "FeatureCollection") {
                //var geojsonLayer = L.geoJson(data, {
                    try {
                    var geojsonLayer = L.geoJson(data, {
                        pointToLayer: function (feature, latlng) {
                            // Define um ícone personalizado para os postos de transformação
                            var icon = L.icon({
                                iconUrl: '{% static 'img/pt.png' %}',  // URL do ícone personalizado
                                iconSize: [20, 20],  // Tamanho do ícone
                                iconAnchor: [16, 32],  // Ponto de âncora do ícone (onde ele será colocado no marcador)
                                popupAnchor: [0, -32]  // Ponto onde o pop-up será aberto em relação ao ícone
                            });
                            return L.marker(latlng, { icon: icon });
                        },
                        onEachFeature: function (feature, layer) {
                            // Aqui configuramos o conteúdo do pop-up
                            var popupContent = "" + feature.properties['PT NUMBER'];
                            layer.bindPopup(popupContent);
                        }
                    });

                    // Adiciona a camada GeoJSON como um overlay ao controle de camadas
                    map.addLayer(geojsonLayer);
                    L.control.layers(baseLayers, { 
                        'Postos': geojsonLayer,
                        'ASC': ASC
                        }).addTo(map);  // Adiciona a camada como overlay

                    map.fitBounds(geojsonLayer.getBounds());
                    console.log("GeoJSON layer added to the map as overlay.");

                    
                } catch (error) {
                    console.error("Error processing GeoJSON data: ", error);
                }
            } else {
                console.error("Invalid GeoJSON data received:", data);
                if (data.documentElement) {
                    console.error("Error message from GeoServer: ", new XMLSerializer().serializeToString(data));
                }
            }
        },
        error: function (xhr, status, error) {
            console.error("Error fetching data: ", status, error);
        }
    });
}
</script>


{% endblock js_main %}
