{% extends "base.html" %}


{% block title %}
    Tarefas | Administração
{% endblock %}


{% block page_header %} 
  Tarefa
{% endblock page_header %}



{% block content_main %} 



    
      <!-- Row: 
      1. Search Form -->
      <div class="row">
        <!--  Col size s7 grid (Materialize css ) -->
        <div class="col s7">
        <form method="POST" action="#" >
            {% csrf_token %}
            <div class="input-field col s5">
              <i class="orange-text material-icons prefix">search</i>
               <input id="search" type="search" name="search" required placeholder="Pesquise a Tarefa">
            </div>
          </form>
      </div>
      


      <!-- Bottom in Right Position -->
      <div class="right">

        <a  href="{% url 'Task:task_view' %}" class="btn"> <i class="bx bx-task icon"></i>All Task </a>

        
        {% if perms.Project.add_projecto %}
          
        <a href="{% url 'Task:task_create' %}" class="waves-effect waves-light btn orange black-text modal-trigger"> <i class="material-icons" data-toggle="tooltip" title="Add">add</i> New Task </a>
        
        {% endif %}
      
    

</div>
</div>
<!-- End  -->


<!-- Row CARD -->
          <div class="row">
            <!-- Result Section  -->
      {% if result %}

            {% for tarefa in  result %} 
        
            <div class="col s4 m3">
                <dvi class="text-dark" >
                   <div class="card horizontal">
                     <div class="card-image">
                     </div>
                     <div class="card-stacked">
                       <div class="card-content">
                        <span class="card-title">{{tarefa.name}} </span>
                        <p class="blue-text"><strong class="black-text">Equipe:</strong> {{tarefa.get_team_name}}</p>
                        <p class="blue-text"><strong class="black-text">Estado:</strong> {{tarefa.status}}</p>
                       </div>
                       <hr>
                       <div class="card-action">
                         <!--Sera para adicionar a ocalizacao da tarefa entre outros apectos de localizcao-->
                       </div>
                     </div>
                   </div>
                </dvi>
            </div>
            {% endfor %}
            <!-- End SEction Result -->
            {% else %}
            <!-- Error Section -->
                          
            {% if erro %}
            <center>{{erro}}</center>
             {% endif %}
             
            <!-- End Error Section  -->

            <!-- Queries Section -->
          
          {% for  tarefa in tarefas %}
            
            <div class="col s4 m3">
              <div  class="text-dark">
                 <div class="card horizontal">
                   <div class="card-image">
                   </div>
                   <div class="card-stacked">
                    <div class="card-content">
                      <span class="card-title">{{tarefa.name}} </span>
                      <p class="blue-text"><strong class="black-text">Equipe:</strong> {{tarefa.get_team_name}}</p>
                      <p class="blue-text"><strong class="black-text">Estado:</strong> {{tarefa.status}}</p>
                    </div>
                     <hr>
                     <div class="card-action">
                       <!--Sera para adicionar a ocalizacao da tarefa entre outros apectos de localizcao-->
                     </div>
                   </div>
                 </div>
              </div>
          </div>
          {% endfor %}

      {% endif %}
      
<!-- End Queries Section Result  -->
  
          </div>
 <!-- END Row Card --> 
  
  
 <ul class="pagination center green-text" style="font-weight: bold">
  {% if tarefas.has_previous %}
      <li class="waves-effect"><a href="?page={{ tarefas.previous_page_number }}"><i class="material-icons text-custom-color">chevron_left</i></a></li>
    {% else %}
      <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

    <span class="current text-custom-color">
      Pagina {{ tarefas.number }} de {{ tarefas.paginator.num_pages }}.
    </span>

 {% if tarefas.has_next %}
      <li class="waves-effect"><a href="?page={{ tarefas.next_page_number }}"><i class="material-icons text-custom-color">chevron_right</i></a></li>
    {% else %}
      <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
 {% endif %}
</ul>




  



  


{% endblock content_main %}


{% block js_main %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems);
});
</script>

{% endblock js_main %}
    
