
{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}

{% block content_main %}

 <!-- Row: 
      1. Search Form -->
     <div class="row">
         <!--  Col size s7 grid (Materialize css ) -->
         <div class="col s7">
         <form method="POST" action="{% url 'Team:team_show' %}" >
             {% csrf_token %}
             <div class="input-field col s5">
              <!-- <button type="submit"><i class="material-icons">search</i></button> -->
               <input id="search" type="search" name="search" required placeholder="Pesquise a equipe pelo nome">
               <!-- <label class="label-icon" for="search"><i class="material-icons">search</i></label> -->
               <!-- <i class="material-icons">close</i> -->
             </div>
             
          </form>
       </div>
 
<!-- Bottom in Right Position -->
       <div class="right">

            <a href="{% url 'Team:team_show' %}" class="btn"> <i class="bx bxs-group icon"></i>Listar Todas Equipes </a>
    
            <a href="{% url 'Team:team_create' %}" class="btn orange black-text"> <i class="material-icons">add_circle</i>
              Nova Equipe</a>

       </div>
<!-- End Bottom Section  -->

    </div>
<!-- End  -->



<!-- Row CARD -->
       <div class="row">

<!-- Result Section  -->
  {% if result %}

    {% for equipe in  result %}
    <div class="col s4 m3">
   <a  class="text-dark"  href="{% url 'Team:team_detail' pk=equipe.pk %}">
      <div class="card horizontal">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
          <p> <i class="bx bxs-group icon"></i> {{equipe.name}} </p>
          </div>
          <div class="card-action orange">
            <a href="#" class="white-text">Team info ..</a>
          </div>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
<!-- End SEction Result -->

<!-- Error Section -->
    {% else %}

    {% if erro %}
    <center>{{erro}}</center>
     {% endif %}
<!-- End Error Section  -->


<!-- Queries Section -->
    {% for equipe in equipes %}
    <div class="col s4 m3">
      <a class="text-dark" href="{% url 'Team:team_detail' pk=equipe.pk %}">
      <div class="card horizontal">
       
        <div class="card-stacked">
          <div class="card-content">
             <p>  {{equipe.name}}</p>
          </div>
          <div class="card-action orange">
            <a href="" class="black-text">Team info ..</a>
          </div>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
    
    {% endif %}
<!-- End Queries Section Result  -->
         </div>

 <!-- END Row Card --> 
 <ul class="pagination center orange-text" style="font-weight: bold">
  {% if equipes.has_previous %}
   <li class="waves-effect"><a href="?page={{ equipes.previous_page_number }}"><i class="material-icons text-custom-color">chevron_left</i></a></li>
 {% else %}
   <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
 {% endif %}

 <span class="current text-custom-color">
   Pagina {{ equipes.number }} de {{ equipes.paginator.num_pages }}.
 </span>

 {% if equipes.has_next %}
   <li class="waves-effect"><a href="?page={{ equipes.next_page_number }}"><i class="material-icons text-custom-color">chevron_right</i></a></li>
 {% else %}
   <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
 {% endif %}
</ul>

 

{% endblock content_main %}


{% block footer %} 


{% endblock footer %}






