{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}


{% block content_main %}
<table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Name</th>
          <th>Item Name</th>
          
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
      </tr>
    </tbody>
  </table>
{% endblock content_main %}