{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}


{% block content_main %}


      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content grey lighten-2">
                <span class="card-title"> <center> <strong class="center-text" style="font-style: italic;">{{detail.name}}</strong> </center> </span>
                
                  <h6><strong>Supervisor: </strong> {{detail.supervisor.first_name}} </h6>
                
                  <!-- Iteira soobre os membros da Team que somente devem ser dois apenas -->
                  {% for members in  detail.membros.all %}
                  <h6><strong>Membro da Team: </strong> {{members.first_name}}</h6> 
                  {% endfor %}

                  <h6><strong>Dia de criação: </strong> {{detail.date_created|date:"Y-m-d"}}</h6>

              </div>
              <div class="card-action">
                <div class="row">
                  <div class="right">
                    <a href="{% url 'Team:team_edit' pk=detail.pk %}" class="waves-effect waves-light btn"><i class="material-icons" data-toggle="tooltip" title="Edit">edit</i> Actualizar dados</a>
                
                <a href="#modal2" class="waves-effect waves-light btn red modal-trigger"> <i class="material-icons" data-toggle="tooltip" title="Delete">delete</i> Apagar </a>
      
              <div id="modal2" class="modal">
                  <div class="modal-content orange">
                      <div class="title">
                      <h5>Equipe</h5>
                      </div>

                   <blockquote>
                    Tem a certeza que vai apagar a equipe?
                      <p class="white-text">Ao apagar a equipe o registo será eliminado de forma permanente no sistema.</p>
                   </blockquote>
      
                  <form method="post" action = "{% url 'Team:team_detail' pk=detail.pk %}">
                    {% csrf_token %}

                      
                        <input type="submit" class='btn btn-danger red' value="Delete">
                        <a  class=" btn" href="{% url 'Team:team_detail' pk=detail.pk %}">Cancel</a>
                  </form>
      
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  


  
<div class="row">
    <div class="col s2 right">
      <button type="button"></button>
      <a href="{% url 'Team:team_show' %}" class="btn orange black-text"><i class="material-icons">arrow_back</i> Voltar </a>
    </div>
  </div>
{% endblock content_main %}


{% block js_main %}
 <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
 </script>
{% endblock js_main %}