
{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}

{% block content_main %}
<div class="row">

  <div class="col s7">
    <form method="POST" action="{% url 'Team:team_show' %}" >
        {% csrf_token %}
        <div class="input-field col s6">
          <input id="search" type="search" name="search" required placeholder="Pesquise a equipe peo nome">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
  </div>

  <div class="col s3">
    <a href="{% url 'Team:team_show' %}" class="btn"> <i class="bx bxs-group icon"></i>Listar Todas Equipes </a>
     
  </div>

  <div class="col s2">
    <a href="{% url 'Team:team_create' %}" class="btn orange"><i class="bx bxs-user"></i>
      Nova Equipe</a>
  </div>
</div>

<div class="row">
  {% if result %}

    {% for equipe in  result %}
    <div class="col s4 m3">
      <div class="card horizontal">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>  <i class="bx bxs-group icon"></i> {{equipe.name}}</p>
          </div>
          <div class="card-action orange">
            <a href="{url 'Team:team_detail'}" class="white-text">Team info ..</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}

    {% if erro %}
    <center>{{erro}}</center>
     {% endif %}

    {% for equipe in equipes %}
    <div class="col s4 m3">
      <div class="card horizontal">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>  <i class="bx bxs-group icon"></i> {{equipe.name}}</p>
          </div>
          <div class="card-action orange">
            <a href="{url 'Team:team_detail' }" class="white-text">Team info ..</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    {% endif %}
  </div>
 
 

{% endblock content_main%}





