{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}


{% block content_main %}

<div class="row">
    <div class="col s3">
        
    </div>

    <div class="col s3">

    </div>
</div>

<table>
    <thead>
      <tr>
          <th>Team Name</th>
          <th>State</th>
          <th>ASC</th>
          <th>Members</th>
          <th>Members</th>
          <th>Supervisor</th>
          <th>Creator</th>
          <th>Date Created</th>
          
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{detail.name}}</td>
        <td>{{detail.state}}</td>
        <td>{{detail.asc}}</td>
        <td>{{detail.membros}}</td>
        <td>{{detail.membros_1}}</td>
        <td>{{detail.supervisor}}</td>
        <td>{{detail.creator}}</td>
        <td>{{detail.date_created}}</td>
      </tr>
    </tbody>
  </table>
<br>
  
<div class="row">
    <div class="col s2 right">
      <a href="{% url 'Team:team_show' %}" class="btn orange black-text"><i class="material-icons">arrow_back</i> Voltar </a>
    </div>
  </div>
{% endblock content_main %}