{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}

{% block content_main %}

<h6 class="col s4" style="font-weight: 450; margin-top: 15px; font-size: 1rem;"> 
  Update Equipe
</h6>
<div class="divider black"></div>

     {% if messages %}
     {% for message in messages %}
        {% if 'info' in message.tags %}
           <div class="card-panel  hoverable green lighten-2">{{message}}</div>
        {% endif %}

        {% if 'error' in message.tags %}
           <div class="card-panel  hoverable red lighten-2">{{message}}</div>
        {% endif %}

     {% endfor %}
     {% endif %}
     <form class="card dark-text"  method="POST" style="padding: 10px;">
       {% csrf_token %}
  
       <h6 style="font-weight: 500; margin-bottom: 5px; " id="myForm1">Dados da equipe</h6>
       <div class="divider black"></div>


      <div class="row">
          <div class="col s6">
             {{ form.name| materializecss}}
          </div>
          <div class="col s6">
             {{form.asc.label_tag}}
             {{form.asc}}
          </div>             
      </div>



      <div class="row">

        <div class="col s6">
          {{form.state| materializecss}}
         </div>

         <div class="col s6">
          {{form.creator.label_tag}}
          {{form.creator}}
        </div>

      </div>


      <h6 style="font-weight: 500; margin-bottom: 5px; " id="myForm1">Membros da equipe</h6>
      <div class="divider black"></div>

    <div class="row">
      <div class="col s6">
        {{form.membros.label_tag}}
        {{form.membros}}
      </div>

      <div class="col s6">
        {{form.supervisor.label_tag}}
        {{form.supervisor}}
      </div>
   
   
     </div>


<!-- Outros campos e botões aqui -->
<br>

       <div class="row">
          <div class="col s6">
            <button type="submit" class="waves-effect waves-light btn">Actualizar</button>
          </div>
       </div>  

</form>

<div class="row">
  <div class="col s2 right">
    <a href="{% url 'Team:team_show' %}" class="btn orange black-text"><i class="material-icons">arrow_back</i> Voltar </a>
  </div>
</div>


{% endblock content_main %}

{% block js_main %}
 
{% endblock js_main %}