
{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}

{% block content_main %}
<br>
<div class="row">

  

  <div class="col s6">
    <form method="POST" action="{% url 'Team:team_show' %}" >
        {% csrf_token %}
        <div class="input-field col s6">
          <input id="search" type="search" name="search" required placeholder="Pesquise a equipe peo nome">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col s2">
    <a href="{% url 'Team:team_show' %}" class="btn"> <i class="bx bxs-group icon"></i>Team</a>
     
  </div>

  <div class="col s2">
    <a href="{% url 'Team:team_create' %}" class="btn btn-primary"><i class="bx bxs-user"></i>
      Nova Equipe</a>


  </div>
</div>


<div class="row">
  {% if result %}

    {% for equipe in  result %}
    <div class="col s4 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{equipe.name}}<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Aterar Dados</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{equipe.name}}<i class="material-icons right">close</i></span>
              <p class="black">{{equipe.membros.first_name}} {{equipe.membros.last_name}}</p>
              <p>Membros: {{equipe.membros_1.first_name}} {{equipe_1.membros.last_name}}</p>
              <p>Supervisor: {{equipe.supervisor.first_name}} {{equipe.supervisor.last_name}}</p>
              <p>Date Created: {{equipe.date_created}}</p>   
             </div>
          </div>
    </div>
    {% endfor %}
    {% else %}

    {% if erro %}
    <center>{{erro}}</center>
     {% endif %}

    {% for equipe in equipes %}
    <div class="col s4 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{equipe.name}}<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Aterar Dados</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              <p>{{equipe.membros.first_name}}</p>
              <p>{{equipe.membros_1.first_name}}</p>
              <p>Supervisor: {{equipe.supervisor.first_name}}</p>
              <p>Date Created: {{equipe.date_created}}</p>   
             </div>
          </div>
    </div>
    {% endfor %}
    
    {% endif %}
  </div>
 


{% endblock content_main%}





