{% extends "base.html" %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}

{% block content_main %}
 

<ul class="collapsible popout" data-collapsible="accordion" id="section-size">

  <h6 class="col s4" style="font-weight: 450; margin-top: 15px; font-size: 1rem;"> 
    Equipe Nova
  </h6>
  <div class="divider black"></div>
  <li>

    
      
    <div class="collapsible-header"><i class="bx bxs-user"></i> Integrantes da Equipe</div>
    
    <div class="collapsible-body">
      {# comment #}   

      {#  Create View Team #}
     
      

    {% if messages %}
        {% for message in messages %}
           {% if 'info' in message.tags %}
              <div class="card-panel  hoverable green lighten-2">{{message}}</div>
           {% endif %}

           {% if 'error' in message.tags %}
              <div class="card-panel  hoverable red lighten-2">{{message}}</div>
           {% endif %}

        {% endfor %}
    {% endif %}

      <form class="card brown lighten-5" action="{% url 'Team:team_create' %}" method="POST" style="padding: 10px;">
        {% csrf_token %}
        
        <h6 style="font-weight: 500; margin-bottom: 5px; " id="myForm1">Dados da equipe</h6>
        <div class="divider black"></div>
    {#  Time Location #}

    {# Linha 1*****#}
    <div class="row">
         <div class="col s6">
          {{ form.name| materializecss}}
         </div>
         <div class="col s6">
          {{form.asc.label_tag}}
          {{form.asc}}
         </div>             
    </div>
     

{# Linha 2 *****#}

    <div class="row">

      <div class="col s6">
        {{form.state| materializecss}}
       </div>

       <div class="col s6">
        {{form.creator.label_tag}}
        {{form.creator}}
      </div>
      

    </div>

{#   Time Members #}

{# Linha 3 *****#}
<h6 style="font-weight: 500; margin-bottom: 5px; " id="myForm1">Membros da equipe</h6>
<div class="divider black"></div>

<div class="row">
      <div class="col s6">
        {{form.membros.label_tag}}
        {{form.membros}}
      </div>

     
      <div class="col s6">
        {{form.supervisor.label_tag}}
        {{form.supervisor}}
      </div>
         
         
    </div>

  {# Linha 4 ***** #}

    <!-- Outros campos e botões aqui -->
     <br>

         <div class="row">
            <div class="col s6">
              <button type="submit" class="waves-effect waves-light btn">Guardar</button>
            </div>
      </div>
      </div>
    </div>    
    
         </div>
    </div>    
    
    </form>
{# endcomment #}   


 </div>
  </li>
</ul>

<div class="row">
  <div class="col s1 right">
    <a href="{% url 'Team:team_show' %}" class="btn orange black-text"><i class="material-icons">arrow_back</i> Voltar </a>
  </div>
</div>

{% endblock content_main %}

{% block js_main %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  const collapsibles = document.querySelectorAll('.collapsible');
  const instances = M.Collapsible.init(collapsibles, {});

  collapsibles.forEach(collapsible => {
      collapsible.addEventListener('click', function(event) {
          const header = event.target.closest('.collapsible-header'); // Encontre o cabeçalho clicado
          const content = header.nextElementSibling; // Encontre o conteúdo correspondente

          if (header.classList.contains('active')) {
              instances.close(content); // Feche o collapsible
          } else {
              instances.open(content); // Abra o collapsible
          }
      });
  });
});
  </script>
{% endblock js_main %}
            