{% extends "base.html" %}
{% load static %}

{% load materializecss %}

{% block title %}
    Equipes | Administração
{% endblock %}

{% block page_header %} 
  Equipe
{% endblock page_header %}

{% block content_main %}

<div class="container">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title ">Equipes</span>
        <hr>

        {% if messages %}
        {% for message in messages %}
        {% if 'success' in message.tags %}
        <div class="alert card green lighten-4 green-text text-darken-4">
          <div class="card-content">
            <p><i class="material-icons">check_circle</i><span class="alerts"> Task Alert: </span> {{ message }} </p>
          </div>
        </div>
        {% endif %}

        {% if 'error' in message.tags %}
        <div class="alert card red lighten-4 red-text text-darken-4">
          <div class="card-content">
            <p><i class="material-icons">error</i><span class="alerts"> Task Alert: </span> {{ message }} </p>
          </div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}

        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col s6"> 
              <div class="input-field">
                 {{form.name|materializecss}}
              </div>
          </div>
          <div class="col s6"> 
            <div class="input-field">
              {{form.asc.label}}
               {{form.asc}}
               {% if form.asc.errors %}
                              <div class="red-text">{{ form.membros.errors }}</div>
                  {% endif %}
            </div>
        </div>
          </div>

          <div class="row">
            <div class="col s6"> 
              <div class="input-field">
                {{form.membros.label}}
                 {{form.membros}}
                 
              {% if form.no_members_available %}
                              <p class="red-text">Não há membros disponíveis para seleção.</p>
                {% else %}
                  
                 {% if form.membros.errors %}
                              <div class="red-text">{{ form.membros.errors }}</div>
                  {% endif %}
              {% endif %}
              </div>
          </div>
          <div class="col s6"> 
            <div class="input-field">
              {{form.supervisor.label}}
              {{form.supervisor}}
            </div>
        </div>
          </div>

  
          <div class="row">
            <div class="col s6"> 
              <div class="input-field">
                <div class="input-field">
                  <button class="btn waves-effect " type="submit" name="action">Guardar</button>
                </div>
              </div>
          </div>
          </div>
  

          
        </form>
        <!-- Botao para voltar somente -->

      </div>
    </div>
    

  </div>
    <div class="row">
    <div class="right">
      <a href="{% url 'Team:team_show' %}" class="btn orange black-text"><i class="material-icons">arrow_back</i> Voltar </a>
    </div>
  </div>
</div>

{% endblock content_main %}

{% block js_main %}
<script>
  // Remover mensagens de sucesso ou erro após 5 segundos
  setTimeout(function() {
    document.querySelectorAll('.alert').forEach(function(alert) {
      alert.parentNode.removeChild(alert);
    });
  }, 1000);  // 5000 milissegundos = 5 segundos
</script>
{% endblock js_main %}